---
import Layout from "@layouts/Layout.astro";
export const title = "About me";
---

<Layout title={`${title} | HynekS`}>
  <main class="h-full max-w-full mx-auto">
    <article
      class="prose prose-sm mx-auto pt-8 px-4 md:prose lg:prose-lg lg:px-0 dark:prose-dark pb-16"
    >
      <h1>About</h1>
      <strong> Full stack web developer</strong>
      <ul>
        <li>JavaScript, TypeScript</li>
        <li>React, Preact</li>
        <li>Astro, Next.js, Gatsby</li>
        <li>Node.js</li>
        <li>PHP, Laravel, Wordpress</li>
        <li>HTML, CSS</li>

        <li>Graphic design (Adobe products)</li>
      </ul>
      <div class="not-prose">
        Here is the <a href="/assets/resume/Hynek_Svacha_Resume_(Fullstack_developer).pdf" target="_blank" class="text-[var(--color-links)] underline">link to my resume (pdf)</a>.
      </p>
  
    </article>
  </main>
</Layout>
