---
import Layout from "@layouts/Layout.astro";
export const title = "Contact";
---

<Layout title={`${title} | HynekS`}>
  <main class="h-full w-full max-w-full mx-auto">
    <div
      class="prose prose-sm mx-auto pt-8 px-4 lg:prose-md lg:px-0 dark:prose-dark pb-16 prose-h1:sm:mb-0 prose-h1:lg:mb-0"
    >
      <h1>Get in touch</h1>
      <p>
        Do you have a question, or are you interested in working with me? Let's
        get in touch!
      </p>
      <form
        data-netlify="true"
        name="contact"
        method="POST"
        netlify-honeypot="bot-field"
      >
        <input
          type="hidden"
          name="subject"
          value="New Submission from hyneks.cz"
        />

        <p class="hidden">
          <label>
            Don’t fill this unless you're a bot: <input name="bot-field" />
          </label>
        </p>

        <div class="flex mb-6 space-x-4">
          <div class="w-full">
            <label
              for="name"
              class="inline-flex mb-1 text-gray-600 dark:text-gray-400 gap-1"
            >
              Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              placeholder="John"
              class="w-full px-3 py-2 placeholder-gray-300 dark:placeholder-slate-400 border-2 border-gray-200 dark:border-slate-500 dark:bg-slate-700 rounded-md focus:outline-none focus:border-violet-300 dark:focus:border-violet-400"
            />
          </div>
        </div>

        <div class="flex mb-6 space-x-4">
          <div class="w-full">
            <label
              for="email"
              class="inline-flex mb-1 text-gray-600 dark:text-gray-400 gap-1"
            >
              Email Address*</label
            >
            <input
              type="email"
              name="email"
              id="email"
              placeholder="john@company.com"
              required
              class="w-full px-3 py-2 placeholder-gray-300 dark:placeholder-slate-400 border-2 border-gray-200 dark:border-slate-500 dark:bg-slate-700 rounded-md focus:outline-none focus:border-violet-300 dark:focus:border-violet-400"
            />
          </div>
        </div>
        <div class="mb-6">
          <label
            for="message"
            class="inline-flex mb-1 text-gray-600 dark:text-gray-400 gap-1"
          >
            Message*</label
          >
          <textarea
            rows="5"
            name="message"
            id="message"
            placeholder="Hello, Hynek! What's up?"
            class="w-full px-3 py-2 placeholder-gray-300 dark:placeholder-slate-400 border-2 border-gray-200 dark:border-slate-500 dark:bg-slate-700 rounded-md focus:outline-none focus:border-violet-300 dark:focus:border-violet-400"
            required></textarea>
        </div>
        <div class="mb-6 flex flex-col lg:flex-row lg:justify-between">
          <button
            type="submit"
            class="w-full lg:w-1/3 px-3 py-4 text-white font-semibold bg-violet-600 hover:bg-violet-700 transition rounded-md focus:outline-none focus:ring focus:ring-violet-300"
          >
            Send Message
          </button>
          <div
            class="flex justify-center lg:justify-end items-center text-base py-4"
          >
            …or e-mail me at&nbsp;<a
              href="mailto:info@hyneks.cz"
              class="text-[var(--color-links)]">info@hyneks.cz</a
            >
          </div>
        </div>
      </form>
      <div class="text-center pt-20" style="display:none" id="success-message">
        <p class="font-medium text-2xl mb-2">
          Thank you for getting in touch with me.
        </p>
        <p class="text-lg mt-2">I will get back to you shortly.</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 352.62 352.62"
          class="w-10 h-10 fill-violet-600 mx-auto"
        >
          <path
            d="M337.222 22.952c-15.912-8.568-33.66 7.956-44.064 17.748-23.867 23.256-44.063 50.184-66.708 74.664-25.092 26.928-48.348 53.856-74.052 80.173-14.688 14.688-30.6 30.6-40.392 48.96-22.032-21.421-41.004-44.677-65.484-63.648C28.774 167.385-.602 157.593.01 190.029c1.224 42.229 38.556 87.517 66.096 116.28 11.628 12.24 26.928 25.092 44.676 25.704 21.42 1.224 43.452-24.48 56.304-38.556 22.645-24.48 41.005-52.021 61.812-77.112 26.928-33.048 54.468-65.485 80.784-99.145 16.524-20.808 68.544-72.217 27.54-94.248zM26.937 187.581c-.612 0-1.224 0-2.448.611-2.448-.611-4.284-1.224-6.732-2.448 1.836-1.224 4.896-.612 9.18 1.837z"
          ></path>
        </svg>
      </div>
    </div>
  </main>
</Layout>

<script>
  const form = document.querySelector("form");

  const handleSubmit = (event: SubmitEvent) => {
    event.preventDefault();

    const myForm = event.target as HTMLFormElement;
    const formData = new FormData(myForm);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData as URLSearchParams).toString(),
    })
      .then(() => {
        myForm.reset();
        const message = document.getElementById("success-message");
        if (form) form.style.display = "none";
        if (message) message.style.display = "block";
      })
      .catch((error) => alert(error));
  };

  form && form.addEventListener("submit", handleSubmit);
</script>
