---
import Layout from '../layouts/Layout.astro';
import BlogPostCard from '../components/BlogPostCard.astro';

//const posts = await Astro.glob("./blog/**/*.{md,mdx}");
const posts = await Astro.glob("../../__content__/blog/**/*.{md,mdx}");
posts.sort((a, b) => Date.parse(b.frontmatter.dateCreated) - Date.parse(a.frontmatter.dateCreated));
---

<Layout title="Welcome to Astro.">
	<div class="h-full px-4 mx-auto max-w-prose text-secondary">
		<h1 class="text-4xl font-bold">Blog</h1>
	
		{
			posts.length ? (
				<ul class="mt-4 list-none">
					{posts.map((post) => (
						<BlogPostCard post={post} />
					))}
				</ul>
			) : null
		}
	</div>
</Layout>