---
import ListItem from "@components/ListItem";
import PrettyDate from "@components/PrettyDate";

const {
  categories = [],
  dateCreated,
  author,
  timeToRead,
  ...props
} = Astro.props;
---

<pre>{JSON.stringify(props, null, 2)}</pre>
<h1 id="overview"><slot /></h1>
<div class="not-prose font-mono text-sm dark:(text-gray-400)">
  {
    categories.length ? (
      <ul class="flex gap-1.5 mt-0 mb-1 ml--1">
        {categories.map((category) => (
          <ListItem category={category} />
        ))}
      </ul>
    ) : null
  }
  posted <PrettyDate date={new Date(dateCreated)} /> ∙ by {author} ∙ {timeToRead}
  
</div>
