---
import PrettyDate from "@components/PrettyDate";
import ListItem from "@components/ListItem";

import type { ALL_TECH_COLORS as techColors } from "@constants/colors";

import { Image } from '@astrojs/image/components'
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props

const images = await Astro.glob("/src/content/blog/*/assets/*").then(files => {
  return files.map(file => file.default);
});

const featuredImageSrc = post.data.featuredImage ? images.find(obj => obj.src?.includes(post.data.featuredImage)) : null;
---
<li
  class="relative flex flex-col md:flex-row mt-8 px-6 pt-5 pb-8 rounded-md dark:[background-color:#2a3340] dark:shadow-sm after:block after:absolute after:w-full after:left-[1rem] after:right-[1.25rem] after:-bottom-4 after:h-px after:[background:linear-gradient(90deg,_rgba(0,0,0,0.6)_0%,_rgba(0,0,0,0.4)_33%,_rgba(166,166,166,0.3)_100%)] dark:after:invisible last:after:invisible"
>
  <div>
    <h2 class="text-3xl font-semibold">
      <a href={"blog/" + post.slug}>{post.data.title}</a>
    </h2>
    {
      post.data.categories ? (
        <ul class="flex gap-1.5 mt-3 mb-1">
          {post.data.categories.map((category) => (
            <ListItem category={category as keyof typeof techColors} />
          ))}
        </ul>
      ) : null
    }
    <div class="font-mono text-sm dark:text-gray-400 pt-1.5">
      {
        post.data.dateCreated ? (
          <span class="font-mono text-sm dark:text-gray-400">
            <span>posted</span>
            <PrettyDate
              date={post.data.dateCreated}
              dateStyles="text-sm dark:text-gray-400"
              client:load
            />
          </span>
        ) : null
      }
    </span>
  </div>
</li>
