---
import PrettyDate from "@components/PrettyDate";
import ListItem from "@components/ListItem";

const { post } = Astro.props;
const { dateCreated, categories } = post.frontmatter || {};
---

<li
  class="relative flex flex-col md:flex-row mt-8 p-4 pb-6 rounded-md dark:[background-color:#2a3340] dark:shadow-sm after:block after:absolute after:w-full after:left-0 after:bottom-0 after:h-px after:[background:linear-gradient(90deg,_rgba(0,0,0,0.6)_0%,_rgba(0,0,0,0.4)_33%,_rgba(166,166,166,0.3)_100%)] dark:after:invisible"
>
  {
    post.featuredImage ? (
      <div class="md:max-width[6em] md:mr-6 [flex:1_0_4em]" />
    ) : null
  }
  <div>
    <h2 class="text-3xl font-semibold">
      <a href={post.url}>{post.frontmatter.title}</a>
    </h2>
    {
      categories ? (
        <ul class="flex gap-1.5 mt-2 mb-1">
          {categories.map((category) => (
            <ListItem category={category} />
          ))}
        </ul>
      ) : null
    }
    <span class="font-mono text-sm pl-1 dark:text-gray-400">
      {
        dateCreated ? (
          <span class="font-mono text-sm pl-1 dark:text-gray-400">
            posted{" "}
            <PrettyDate
              date={new Date(dateCreated)}
              dateStyles="text-sm dark:text-gray-400"
              client:load
            />
          </span>
        ) : null
      }
    </span>
  </div>
</li>
