---
import GithubIcon from "./GithubIcon.astro";
import LinkedinIcon from "./LinkedinIcon.astro";
import StackOverflowIcon from "./StackOverflowIcon.astro"
---
<script>
    const target = document.getElementById("currentYear")
    if (target instanceof HTMLElement) {
      target.textContent = String(new Date().getFullYear())
    }
</script>
<div class="flex justify-center py-8">
    <footer class="max-w-prose">
      <div class="flex gap-4 justify-center mb-4 text-[#a485e6] dark:text-gray-400">
        <a
          class="block transition-colors hover:text-[var(--color-primary)]"
          href="https://github.com/HynekS"
          rel="noopener noreferrer"
          target="__blank"
          aria-label="Link to my Github profile"
        >
          <GithubIcon />
        </a>
        <a
          class="block transition-colors hover:text-[var(--color-primary)]"
          href="https://www.linkedin.com/in/hynek-%C5%A1v%C3%A1cha-829387103/"
          rel="noopener noreferrer"
          target="__blank"
          aria-label="Link to my LinkedIn profile"
        >
          <LinkedinIcon />
        </a>
        <a
          class="block transition-colors hover:text-[var(--color-primary)]"
          href="https://stackoverflow.com/users/8252267/hyneks"
          rel="noopener noreferrer"
          target="__blank"
          aria-label="Link to my Stack Overflow profile"
        >
          <StackOverflowIcon />
        </a>
      </div>
      <span class="text-sm font-mono px-4">© 2019–<span id="currentYear">present</span> Hynek Svacha</span>
    </footer>
  </div>
