---
import GithubIcon from "./GithubIcon.astro";
import LinkedinIcon from "./LinkedinIcon.astro";
import StackOverflowIcon from "./StackOverflowIcon.astro";
---

<script>
  const target = document.getElementById("currentYear");
  if (target instanceof HTMLElement) {
    target.textContent = String(new Date().getFullYear());
  }
</script>
<div class="flex justify-center pt-8 pb-8">
  <footer>
    <div
      class="flex gap-4 justify-center mb-4 text-gray-500 dark:text-gray-400"
    >
      <a
        class="block transition-colors hover:text-[var(--color-primary)]"
        href="https://github.com/HynekS"
        rel="noopener noreferrer"
        target="__blank"
        aria-label="Link to my Github profile"
      >
        <GithubIcon />
      </a>
      <a
        class="block transition-colors hover:text-[var(--color-primary)]"
        href="https://www.linkedin.com/in/hynek-%C5%A1v%C3%A1cha-829387103/"
        rel="noopener noreferrer"
        target="__blank"
        aria-label="Link to my LinkedIn profile"
      >
        <LinkedinIcon />
      </a>
      <a
        class="block transition-colors hover:text-[var(--color-primary)]"
        href="https://stackoverflow.com/users/8252267/hyneks"
        rel="noopener noreferrer"
        target="__blank"
        aria-label="Link to my Stack Overflow profile"
      >
        <StackOverflowIcon />
      </a>
    </div>
    

    <div class="mx-auto mt-4 text-center dark:opacity-75">
      <span class="text-xl font-bold text-[var(--color-primary)]">~ </span><a href="https://astro.build" target="__blank" aria-label="Link to Astro.build">
      <span>built with </span><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 76 102"
        xml:space="preserve"
        class="text-black dark:text-white w-5 h-5 inline-block"
      >
        <path
          fill="currentColor"
          d="m55.07 14.216 16.81 54.865c-6.528-3.365-13.53-5.72-20.765-6.983L39.808 24.135c-.234-.78-1.057-1.223-1.837-.989-.477.143-.849.517-.99.994L25.81 62.078c-7.268 1.258-14.302 3.617-20.859 6.995L21.847 14.2c.998-3.243 1.497-4.865 2.47-6.066.858-1.06 1.973-1.884 3.239-2.392 1.434-.576 3.13-.576 6.524-.576h8.751c3.398 0 5.097 0 6.532.577 1.268.509 2.383 1.334 3.241 2.397.972 1.203 1.47 2.827 2.466 6.076z"
        ></path>
        <path
          fill="#FF5D01"
          d="M54.618 71.779c-2.863 2.432-8.578 4.091-15.161 4.091-8.08 0-14.852-2.499-16.649-5.86-.642 1.926-.786 4.131-.786 5.539 0 0-.423 6.915 4.418 11.725 0-2.498 2.037-4.521 4.551-4.521 4.309 0 4.304 3.734 4.3 6.764v.271c0 4.6 2.829 8.541 6.852 10.203-.619-1.266-.94-2.655-.938-4.064 0-4.386 2.592-6.021 5.604-7.917 2.396-1.51 5.06-3.188 6.894-6.554.988-1.812 1.504-3.842 1.502-5.905 0-1.317-.206-2.583-.587-3.772z"
        ></path>
      </svg></a><span> and a lot of ☕</span><span class="text-xl font-bold text-[var(--color-primary)]"> ~</span>
    </div><span class="text-sm font-mono px-4"
    >© 2019–<span id="currentYear">present</span> Hynek Svacha</span
  >
  </footer>
</div>
