---
import Logo from "./Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";
import CollapsibleMenu from "./CollapsibleMenu.astro"

const currentPath = Astro.url.pathname;
---
<header
  id="main-header" class="top-0 flex justify-between pr-6 pl-4 py-4 w-full mb-8 h-[4.5rem] bg-gray-50 bg-opacity-80 backdrop-blur-sm relative z-10 lg:pl-[2.25rem] lg:sticky"
>
  <div>
    <div class="flex items-end gap-6 pt-0.5">
      <a href="/" aria-label="Link to homepage" class="mr-4">
        <Logo />
      </a>
      <div
        class="hidden md:flex pt-3 relative top-1 leading-none gap-6 [&>a]:font-normal [&>a]:pb-1.5 [&>a]:overflow-hidden [&>a]:relative [&>a]:after:block [&>a]:after:absolute [&>a]:after:w-full [&>a]:after:h-[2px] [&>a]:after:bottom-0 [&>a]:after:bg-[var(--color-primary)] [&>a]:after:transition-transform [&>a]:after:duration-300"
      >
        <a
          href="/"
          class={`[&:not(.active)]:after:-translate-x-[105%] [&:not(.active)]:hover:after:translate-x-0 ${currentPath.startsWith("/blog") || currentPath === "/"
            ? "active"
            : ""}`}>blog</a
        >
        <a
          href="/projects"
          class={`[&:not(.active)]:after:-translate-x-[105%] [&:not(.active)]:hover:after:translate-x-0 ${currentPath.startsWith("/projects") ? "active" : ""}`}
          >projects</a
        >
        <a
          href="/about"
          class={`[&:not(.active)]:after:-translate-x-[105%] [&:not(.active)]:hover:after:translate-x-0 ${currentPath.startsWith("/about") ? "active" : ""}`}>about</a
        >
        <a
          href="/contact"
          class={`[&:not(.active)]:after:-translate-x-[105%] [&:not(.active)]:hover:after:translate-x-0 ${currentPath.startsWith("/contact") ? "active" : ""}`}>contact</a
        >
      </div>
    </div>
  </div>
  <div class="pt-1.5">
    <CollapsibleMenu />
    <ThemeToggle class="hidden md:block"/>
  </div>
</header>
