---
import Logo from "./Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";
import CollapsibleMenu from "./CollapsibleMenu.astro"

const currentPath = Astro.url.pathname;
---

<header
  id="main-header" class="top-0 flex justify-between pr-6 pl-4 py-4 w-full mb-8 h-[4.5rem] /*added explicit height and width to fight the layout shift*/ bg-gray-50 bg-opacity-80 backdrop-blur-sm relative z-10  lg:pl-[2.25rem] lg:sticky"
>
  <div>
    <div class="flex items-end gap-4 pt-0.5">
      <a href="/" aria-label="Link to homepage" class="mr-4">
        <Logo />
      </a>
      <div
        class="hidden md:flex pt-3 relative top-1 leading-none gap-4 [&>a]:font-medium [&>a]:pb-1 [&>a]:border-b-2 [&>a]:border-transparent [&>a.active]:border-b-2 [&>a.active]:[border-color:var(--color-primary)]"
      >
        <a
          href="/"
          class={currentPath.startsWith("/blog") || currentPath === "/"
            ? "active"
            : ""}>blog</a
        >
        <a
          href="/projects"
          class={currentPath.startsWith("/projects") ? "active" : ""}
          >projects</a
        >
        <a
          href="/about"
          class={currentPath.startsWith("/about") ? "active" : ""}>about</a
        >
      </div>
    </div>
  </div>
  <div class="pt-1.5">
    <CollapsibleMenu />
    <ThemeToggle class="hidden md:block"/>
  </div>
</header>
