<div class="flex items-end gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-7 h-7 dark:opacity-[0.85]"
    viewBox="0 0 64 64"
    xml:space="preserve"
  >
    <path fill="#865DDE" d="M0 0h64v64H0z"/>
    <g fill="#FFF">
      <path
        d="M12.69 27.582h6.697v11.286h8.764V27.582h6.697v30.219h-6.697V44.737h-8.764V57.8H12.69V27.582zM43.229 48.789c1.735 2.852 3.431 4.175 5.869 4.175 2.315 0 3.804-1.363 3.804-3.183 0-1.654-1.075-2.894-3.349-3.846-2.976-1.239-5.58-2.107-7.482-3.596-2.108-1.653-3.183-3.969-3.183-6.779 0-5.333 3.762-8.765 9.797-8.765 4.383 0 7.73 1.819 9.88 5.333L53.77 35.56c-1.612-2.274-3.391-3.391-5.457-3.391s-3.349 1.158-3.349 2.771c0 1.529 1.198 2.646 3.639 3.72 3.059 1.323 5.746 2.191 7.565 3.639 2.025 1.611 3.183 4.051 3.183 6.986 0 5.498-4.134 9.301-10.418 9.301-4.753 0-8.392-2.066-10.914-6.118l5.21-3.679z"
      ></path>
    </g>
  </svg>
  <span class="font-bold text-gray-900 dark:text-primary mt-auto leading-none pb-0.5">HynekS</span>
</div>
