---
// macbookair-mockup-cropped
//csfd_blocker_popup.png
---
<div class="relative mb-12">
  <img src="/assets/device-mockups/macbookair-mockup-cropped.png" alt="" class="[filter:drop-shadow(12px_12px_25px_rgba(0,0,0,0.35))]"/>
  <div class="absolute [transform:scale(0.787)] origin-top top-0 w-full"><img src="/assets/device-mockups/csfd_blocker_popup.png" class="object-contain"></div>
</div>