---
import { Image, getImage } from "astro:assets";

const { image } = Astro.props || {};

import macbook_mockup from "@assets/device-mockups/macbookair-mockup-cropped.png";

const optimizedImage = await getImage({ src: image, format: 'webp' })
---
<style>
  .container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
</style>
<div class="relative mb-12 not-prose">
  <Image
    src={macbook_mockup}
    alt=""
    width={800}
    height={509}
    class="[filter:drop-shadow(12px_12px_25px_rgba(0,0,0,0.35))]"
  />
  <div
    class="absolute [transform:scale(0.78633)] origin-top top-[5%] w-full overflow-hidden"
  >
    <div class="relative pt-[63.66%]">
      <div class="container absolute inset-0">
        {image?.src && <img src={optimizedImage.src} alt="" />}
      </div>
    </div>
  </div>
</div>
