---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";

const posts = await getCollection("projects");

// posts.sort((a, b) => +b.data.dateCreated - +a.data.dateCreated);
posts.sort((a, b) => a.data.order - b.data.order);

---

<Layout title="My Projects">
  <div class="h-full px-4 mx-auto max-w-prose text-secondary">
    <h1 class="text-4xl font-medium relative left-[1.25rem]">Projects</h1>
    <ul class="mt-4 list-none">
      {
        posts.map((post) => {
          return (
            <li class="my-8 relative md:flex-row mt-8 px-6 pt-5 pb-8 rounded-md dark:[background-color:#2a3340] dark:shadow-sm after:block after:absolute after:w-full after:left-[1rem] after:right-[1.25rem] after:-bottom-4 after:h-px after:[background:linear-gradient(90deg,_rgba(0,0,0,0.6)_0%,_rgba(0,0,0,0.4)_33%,_rgba(166,166,166,0.3)_100%)] dark:after:invisible last:after:invisible">
              <h2 class="text-3xl font-semibold">
                <a href={"/projects/" + post.slug}>{post.data.title}</a>
              </h2>
              {post.data?.categories ? (
                <ul class="flex gap-1.5 mt-1">
                  {post.data.categories.map((category) => (
                    <li class="font-mono text-xs rounded-md py-0.5 px-1.5 bg-gray-100 dark:bg-gray-800">
                      {category}
                    </li>
                  ))}
                </ul>
              ) : null}
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>
