---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

const posts = await getCollection("projects");

posts.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Projects | HynekS">
  <div class="h-full px-2 md:px-4 mx-auto max-w-prose md:max-w-2xl text-secondary">
    <h1 class="text-4xl font-normal relative left-[1.25rem]">Projects</h1>
    <ul class="mt-4 list-none">
      {
        posts.map((post) => {
          return (
            <li class="my-8 relative md:flex-row mt-8 pl-4 pr-6 pt-5 pb-8 rounded-md dark:shadow-sm after:block after:absolute after:w-full after:left-[1rem] after:right-[1.25rem] after:-bottom-4 after:h-px after:[background:linear-gradient(90deg,_rgba(0,0,0,0.6)_0%,_rgba(0,0,0,0.4)_33%,_rgba(166,166,166,0.3)_100%)] dark:after:[background:linear-gradient(90deg,_rgba(200,200,200,0.6)_0%,_rgba(200,200,200,0.4)_33%,_rgba(166,166,166,0.3)_100%)] last:after:invisible">
              <div class="flex gap-6 lg:gap-7">
                <img
                    src={post.data.thumbnail}
                    height={96}
                    width={96}
                    class="rounded shadow w-20 h-20 md:w-24 md:h-24"
                    alt="thumbnail"
                  />
                <div>
                <h2 class="text-3xl font-medium transition-colors hover:text-[var(--color-primary)] hover:dark:text-[#b497f9]">
                  <a href={"/projects/" + post.slug}>{post.data.title}</a>
                </h2>
                {post.data?.categories ? (
                  <ul class="flex gap-1.5 mt-1 flex-wrap">
                    {post.data.categories.map((category) => (
                      <li class="font-mono text-xs rounded-md py-0.5 px-1.5 bg-gray-100 dark:bg-gray-800">
                        {category}
                      </li>
                    ))}
                  </ul>
                ) : null}
              </div>
            </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>
