---
import Layout from "@layouts/Layout.astro";
import RecursiveList from "@components/RecursiveList.astro";
import PrettyDate from "@components/PrettyDate";
import ScrollToTop from "@components/ScrollToTop";
import Lightbox from "@components/Lightbox";
import { execSync } from "child_process";

const allAuthorDates = execSync(
  `git log --follow --name-status --pretty=format:%aI -- ${Astro.props.file}`
).toString();

const [lastEditExceptPathChangeDate] =
  allAuthorDates.match(/20[\d-T:.Z+]+$(?!\r?\nR)/m) || [];

// Get commit date AND message:
// git log --follow --name-status --pretty='format:%aI|%s'
// /(20[\d\-T:.Z+]+)\|(.*)$(?!\r?\nR)/m

export interface Props {
  title: string;
  children: Node | Node[];
}

const { title } = Astro.props.frontmatter;
const { headings } = Astro.props;
---
<Layout title={title}>
  <aside class="hidden md:block md:w-1/5">
    <RecursiveList headings={headings} />
  </aside>
  <main class="flex-auto max-w-full [margin-right:calc((50% - 30ch)/2)]">
    <article
      class="prose prose-sm mx-auto pt-8 px-4 md:prose lg:prose-lg lg:px-0 dark:prose-dark pb-16"
      data-is_article
    >
      <slot />
      {
        lastEditExceptPathChangeDate ? (
          <p class="text-xs">
            last modified{" "}
            <PrettyDate date={new Date(lastEditExceptPathChangeDate)} />
          </p>
        ) : null
      }
      <hr />
      <p class="text-sm">
        If you find anything in this post that should be improved (either
        factually or linguistically), feel free to{" "}
        <a href="#" rel="noopener noreferrer" target="_blank">
          edit it on Github TODO add the actual link!
        </a>
        .
      </p>
    </article>
  </main>
  <ScrollToTop client:load />
  <Lightbox client:only="preact"/>
</Layout>
