---
import Layout from "@layouts/Layout.astro"
import ScrollToTop from "@components/ScrollToTop"

export interface Props {
  title: string;
  children: Node | Node[];
}

const { title } = Astro.props.frontmatter;
---
<Layout title={title}>
  <aside class="hidden md:block md:w-1/5">TOC?</aside>
    <main class="flex-auto max-w-full [margin-right:calc((50% - 30ch)/2)]">
      <article
        class="prose prose-sm mx-auto pt-8 px-4 md:prose lg:prose-lg lg:px-0 dark:prose-dark pb-16"
      >
        <slot />
      </article>
    </main>
    <ScrollToTop client:load />
</Layout>
