---
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// TODO: check by zod (lots of lies probably here):
export interface Props {
  title: string;
  description: string;
  categories: string;
  dateCreated: string;
  keywords: string;
  author: string;
  children: Node | Node[];
}

const url = Astro.url;
const { title, description, author, dateCreated, categories, keywords } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "article",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          url: url.toString(),
        },
      }}
      twitter={{
        creator: "@SvachaHynek",
      }}
      extend={{
        meta: [
          { name: "keywords", content: keywords },
          { name: "author", content: author },
          { name: "article:author", content: author },
          { name: "article:published_time", content: dateCreated },
          { name: "article:tag", content: categories },
          {
            name: "twitter:image",
            content:
              "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <link
      rel="preload"
      href="/assets/fonts/Nunito[wght]-subset.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/Nunito-Italic[wght]-subset.woff2"
      as="font"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/assets/styles/base.css" />

    <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5" />

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
