---
import Layout from "@layouts/Layout.astro";
import ScrollToTop from "@components/ScrollToTop";
import Lightbox from "@components/Lightbox"

const { title } = Astro.props.frontmatter;
---

<Layout title={title}>
  <main class="grid max-w-full [margin-right:calc((50% - 30ch)/2)]">
    <article
      class="prose prose-md prose-thin mx-auto pt-8 px-4 lg:prose-lg lg:px-0 lg:prose-thin dark:prose-dark pb-16 dark:prose-thin"
    >
      <slot />
    </article>
  </main>
  <ScrollToTop client:load />
  <Lightbox client:only="preact" />
</Layout>
